<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<div *ngFor="let user of users" class="card">
    <div class="card-body">
      <p><b>Name</b> : {{user.name}}</p>
      <p><b>Username</b> : {{user.username}}</p>
      <p><b>Email</b> : {{user.email}}</p>
      <!-- Material switch -->
<!-- Default checked -->
      <p><b>Administrator</b> <br> <ui-switch [checked]="user.isAdministrator" (change)='changeRights(user)' size='small'></ui-switch></p>
    </div>
</div>